.toggle {
    width: 70px;
    height: 30px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.4), 
                inset 0px -5px 10px rgba(255, 255, 255, 0.4);

    /* Dark */
    &::after {
        content: "";
        position: absolute;
        top: 3px;
        right: 3px;
        background: linear-gradient(180deg, #777, #3a3a3a);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
}
.toggle.light {
    /* Light */
    &::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
}